# Ignore all folders except when specifically told not to
/*

# Allow to view '.gitignore'
!.gitignore
!README.md

!fastfetch/
!ghostty/
!hypr/

!mpd/
mpd/*
!mpd/mpd.conf

!ncmpcpp/
ncmpcpp/*
!ncmpcpp/config

!waybar/
