@import "colors.css";

#clock,
#custom-menu,
#mpris,
#pulseaudio, 
#workspaces {
    color: @text;
	padding: 0 7px
}

#clock:hover,
#mpris:hover,
#pulseaudio:hover {
	border-bottom: 2px solid @text
}

#custom-menu {
	color: @blue
}

#pulseaudio.microphone {
	color: @red;
	padding: 0 18px;
	border: none
}

#workspaces button {
    padding: 0 4px;
    color: @text
}

#workspaces button.active {
	color: @text;
	border-radius: 0;
	border-bottom: 2px solid @text
}
