@import "colors.css";

#clock,
#mpris,
#pulseaudio, 
#workspaces {
    color: @text;
	padding: 0 7px
}

#clock:hover,
#mpris:hover,
#pulseaudio:hover {
	border-bottom: 2px solid @lavender
}

#workspaces button {
    padding: 0 4px;
    color: @text
}

#workspaces button.active {
	color: @lavender;
	border-radius: 0;
	border-bottom: 2px solid @lavender
}
